@import '@/assets/css/fonts.scss';
@import 'utils.scss';

.container {
  position: relative;
}
canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}

#networking_widget {
  height: 80vh;
}

.mobile_view_topbar {
  height: 50px;
  // @include grd1_bw;
  background: #fff;

  justify-content: space-between;
  padding: 0 45px 0 15px;
  // color: #333;
  color: #333;
  display: none;
  position: relative;



  @include bp('max-width', 767) {
    display: flex;
    padding: 0 45px 0 15px;
  }

  &.low_padding {
    padding: 0 15px 0 15px;
  }

  .component &,
  .widget & {
    display: flex;
  }

  .btn_call {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;

    &.disabled {
      opacity: 0.2;
    }

  }

  .btn_back {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    @include vertical-align;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      opacity: 0.5;
    }

  }
}

.msger {
  // background: #333;

  min-height: 30px;
  overflow: hidden;
  // max-width: 992px;
  height: 100%;
  // position: absolute;
  width: 100%;

  // max-width: 1280px;
  left: 50%;
  // transform: translateX(-50%);



  border-radius: 15px;
  margin: 0 auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  @include bp('max-width', 767) {
    border-radius: 0px;
    // margin: 0 -15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .widget & {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    height: 100%;
  }

  .component & {
    width: 100%;
    height: 100%;
    margin: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    min-height: 400px;

    @include bp('max-width', 768) {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    @include bp('max-width', 1199) {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }


  &_header {

    bottom: 0;
    left: 0;


    padding: 0 25px;
    width: 100%;
    z-index: 2;

    left: 50%;
    transform: translateX(-50%);


    max-width: 10000px;
    border-top: none;
    background: #2b2b2b;
    position: relative;
    height: 80px;

    color: #fff;

    @include bp('max-width', 767) {
      max-width: 540px;
      border-top: 1px solid #fff;
      background: #fff;
      position: fixed;
      height: 40px;
    }

    .component &,
    .widget & {
      padding: 0 10px;
      background: #fff;
    }

    .component &,
    .widget & {
      height: 40px;

      @include bp('max-width', 767) {
        position: relative;
        background: #fff;
        border-top: none;
      }
    }

    .current_user {
      position: absolute;
      top: 0;
      height: 80px;
      left: 30%;
      display: flex;

      align-items: center;

      .avatar {
        margin-right: 15px;
      }

      .component &,
      .widget & {
        display: none;
      }

      @include bp('max-width', 767) {
        display: none;
      }
    }

    .btn_call {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 2rem;
      color: #333;
      // background: #333;
      // color: #fff;
      border-radius: 100px;
      cursor: pointer;

      &.disabled {
        opacity: 0.2;
        cursor: default;
      }

      @include bp('max-width', 767) {
        display: none;
      }

      .component &,
      .widget & {
        display: none;
      }
    }

    .btn_close {
      position: absolute;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      color: #333;
      right: 0px;
      font-size: 2rem;
      cursor: pointer;
    }

    .btn_minimise {
      position: absolute;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      color: #333;
      right: 40px;
      font-size: 2rem;
      cursor: pointer;
    }

    .btn_close_component {
      @include bp('min-width', 1200) {
        display: none;
      }
    }

    &__tabs {
      display: flex;
      align-items: center;
      justify-content: space-around;
      // height: 80px;
      justify-content: start;

      @include bp('max-width', 767) {
        height: 40px;
        align-items: center;
        justify-content: space-around;
      }

      .component &,
      .widget & {
        height: 40px;
      }

      .component & {
        height: 40px;
        align-items: center;
        justify-content: start;

        @include bp('max-width', 767) {}
      }


      div[class^="btn"] {

        text-align: center;

        border-radius: 5px;
        cursor: pointer;

        span {
          font-size: 1.8rem;
        }

        // transition: all 0.3s;
        color: #fff;
        opacity: 1;
        padding: 5px;
        // width: 70px;
        margin-right: 15px;


        @include bp('max-width', 767) {


          color: #333;
          opacity: 0.6;
          padding: 0;
          width: auto;
          margin: 0;

          span {
            font-size: 2.4rem;
          }

          display: flex;
        }

        .text {
          font-size: 1rem;
          margin-top: 3px;
          text-transform: uppercase;
        }

        .component &,
        .widget & {
          width: 40px;
          border-radius: 100px;
          margin-right: 5px;

          span {
            font-size: 1.8rem;
          }

          display: block;

          .text {
            display: none;
          }
        }



        &.active {
          opacity: 1;
          background: #333;
          color: #fff;

          @include bp('max-width', 767) {

            background: transparent;
            color: #333;
          }
        }

        .component & {
          color: #333;
          opacity: 1;
          padding: 5px;
          // width: 60px;

          &.active {
            background: #333;
            color: #fff;
          }
        }
      }
    }

    &__mobilenav {
      display: flex;
      position: relative;
      height: 100%;

      .tab {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        background: #cfcfcf;



        span {
          display: inline-block;
          @include vertical-align;
          font-size: 1rem;
          text-transform: uppercase;
          color: #000;
        }

        &.active {
          @include grd1;

          span {
            color: #333;
          }
        }
      }
    }
  }

  &_views_wrapper {
    height: calc(100% - 40px);
    background: url('~@/assets/loading.gif') center no-repeat;
    background-size: 40px;
    position: relative;

    @include bp('min-width', 768) {
      width: 100%;
      height: calc(100% - 80px);
    }

    .component &,
    .widget & {
      height: calc(100% - 40px);
      position: relative;
    }
  }


  &_participants {
    background: #333;

    height: calc(100% - 0px);

    transition: transform 0.3s;

    width: 100%;

    @include bp('min-width', 768) {
      display: flex;
      width: 100%;
      height: calc(100% - 0px);
    }

    @include bp('max-width', 767) {
      // display: block;

      &.Contacts {

        // transform: translateX(0) translateZ(0);
        .left {
          // opacity: 0;
          // left: 0;
          z-index: 1;
          opacity: 1;
        }

        .right {
          // opacity: 0;
          // left: 100%;
          z-index: 0;
          opacity: 0;
        }
      }

      &.Profile {

        // transform: translateX(-50%) translateZ(0);
        .left {
          // opacity: 0;
          // left: 0;
          z-index: 0;
          opacity: 0;
        }

        .right {
          // opacity: 0;
          // left: 100%;
          z-index: 1;
          opacity: 1;
        }
      }

    }

    .component &,
    .widget & {
      height: calc(100% - 0px);
      position: relative;

      width: 100%;
      display: flex;

      &.Contacts {

        // transform: translateX(0);
        .left {
          // opacity: 0;
          // left: 0;
          z-index: 1;
          opacity: 1;
        }

        .right {
          // opacity: 0;
          // left: 100%;
          z-index: 0;
          opacity: 0;
        }
      }

      &.Profile {

        // transform: translateX(-50%);
        .left {
          // opacity: 0;
          // left: 0;
          z-index: 0;
          opacity: 0;
        }

        .right {
          // opacity: 0;
          // left: 100%;
          z-index: 1;
          opacity: 1;
        }
      }
    }

    .left {
      width: 100%;
      position: relative;
      height: 100%;
      background: #4d4d4d;


      @include bp('min-width', 768) {
        width: 30%;
      }

      @include bp('max-width', 767) {
        position: absolute;
        top: 0;
        left: 0;
      }

      .component &,
      .widget & {
        width: 100%;
        height: 100%;
        background: #4d4d4d;

        position: absolute;
        top: 0;
        left: 0;
      }

      .searcher {
        height: 70px;
        padding: 15px;
        background: #2b2b2b;
        display: flex;
        position: relative;
        justify-content: flex-end;

        .icon-search {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          // right: 25px;
          font-size:0.8rem;
          color: #fff;
        }

        input {
          border: none;
          // border-bottom: 1px solid $;
          background: none;
          border-radius: 0;
          padding-left: 0;
          color: #fff;

          padding-left: 5px;

          &::placeholder {
            color: #fff;
          }

          &:focus {
            box-shadow: none;
          }
        }
      }

      .userlist {
        padding-bottom: 25px;
        height: calc(100% - 70px);
        @include inner-scroll;

        @include bp('max-width', 767) {
          border-top: 1px solid rgba(#000, 0.2);
        }

        .user {
          text-align: center;
          // font-weight: 600;
          font-size: 1rem;
          color: #fff;
          padding: 10px 15px;
          cursor: pointer;
          display: flex;
          align-items: center;


          // transition: all 0.3s;


          @include bp('max-width', 767) {
            border-bottom: 1px solid rgba(#000, 0.05);
            text-align: left;
          }

          // &:hover {
          //   background: darken(#fff, $amount: 10);
          //   // color: #333;
          // }

          &.active {
            @include bp('min-width', 768) {
              background: #787878;
              color: #fff;
            }

          }

          .component &,
          .widget & {
            border-bottom: 1px solid rgba(#000, 0.05);
            text-align: left;
            padding: 10px 15px;

            &.active {
              background: #787878;
              color: #fff;
            }

            // &:hover {
            //   background: darken(#fff, $amount: 10);
            // }
          }

          .avatar {
            margin-right: 15px;
          }
        }
      }

    }


    .right {

      color: #000;
      width: 100%;
      background: #fafafa;
      height: 100%;

      @include bp('min-width', 768) {
        width: 70%;
        background: #fafafa;
      }

      @include bp('max-width', 767) {
        position: absolute;
        top: 0;
        left: 0;
      }

      .component &,
      .widget & {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }


      // display: flex;

      .btn {
        background: #2501da;
        color: #fff;
      }

      .user_profile_wrapper {
        max-width: 600px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;


        @include bp('min-width', 768) {
          @include vertical-align;
        }

        .user_profile_text {
          color: #222;

          .name {
            color: #222;
          }
        }

        .component &,
        .widget & {
          top: 40%;

          .avatar {
            width: 60px;
            height: 60px;
            margin-right: 20px;
          }

          .desc {
            display: none;
          }

          .name {
            font-size: 2rem;
          }

          .user_profile_text {
            // max-width: none;
            width: auto;

            .company_title {
              font-size: 1.4rem;
            }

            .country {
              font-size: 1.4rem;
            }

            .na {
              min-width: 150px;

              &::before {
                height: 13px;
                margin-bottom: 10px;
                width: 100%;
              }

              &::after {
                height: 13px;
                width: 50%;
              }
            }
          }

          // .user_profile {
          //   display: block;
          // }
        }



        &__bottom {
          margin-top: 50px;
        }

        &__top {
          // display: flex;


          @include bp('min-width', 768) {
            // align-items: center;
            // display: flex;
          }


        }


      }
    }




  }

  &_body {
    background: #333;
    height: calc(100% - 0px);
    position: relative;

    width: 100%;
    // display: flex;
    // transition: all 0.3s;

    @include bp('min-width', 768) {
      width: 100%;
      height: calc(100% - 0px);
      display: flex;

    }

    @include bp('max-width', 767) {
      &.Chats {

        // transform: translateX(0);
        .left {
          // opacity: 0;
          // left: 0;
          z-index: 1;
          opacity: 1;
        }

        .right {
          // opacity: 0;
          // left: 100%;
          z-index: 0;
          opacity: 0;
        }
      }

      &.Messenger {

        // transform: translateX(-50%);
        .left {
          // opacity: 0;
          // left: 0;
          z-index: 0;
          opacity: 0;
        }

        .right {
          // opacity: 0;
          // left: 100%;
          z-index: 1;
          opacity: 1;
        }
      }
    }

    .no_chat {
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: calc(100%);
      text-align: center;
      color: #8787;
      background: #fafafa;
      z-index: 1;

      .component &,
      .widget & {
        // top: 50px;
      }

      .btn {
        background: #2501da;
        transition: 0s;
        color: #fff;

        &:hover {
          background: #2501da;
        }
      }

      @include bp('max-width', 767) {
        // top: 50px
      }

      &_content {
        @include vertical-align;

        span {
          display: inline-block;
          font-size: 7rem;
          margin-bottom: 15px;
        }
      }
    }



    .component &,
    .widget & {
      height: calc(100% - 0px);
      position: relative;

      width: 100%;
      // display: flex;

      &.Chats {

        // transform: translateX(0);
        .left {
          // opacity: 0;
          // left: 0;
          z-index: 1;
          opacity: 1;
        }

        .right {
          // opacity: 0;
          // left: 100%;
          z-index: 0;
          opacity: 0;
        }
      }

      &.Messenger {

        // transform: translateX(-50%);
        .left {
          // opacity: 0;
          // left: -100%;
          z-index: 0;
          opacity: 0;
        }

        .right {
          // opacity: 0;
          // left: 0%;
          z-index: 1;
          opacity: 1;
        }
      }
    }

    .left {
      width: 100%;
      height: 100%;
      background: #4d4d4d;


      @include bp('min-width', 768) {
        width: 30%;
      }

      @include bp('max-width', 767) {
        position: absolute;
        top: 0;
        left: 0;
      }

      .component &,
      .widget & {
        width: 100%;
        height: 100%;
        background: #4d4d4d;

        position: absolute;
        top: 0;
        left: 0;
      }



      .searcher {
        height: 70px;
        padding: 15px;

        input {}
      }


      .userlist {
        padding-bottom: 25px;
        // height: calc(100% - 70px);
        height: calc(100% - 0px);
        @include inner-scroll;

        @include bp('max-width', 767) {
          border-top: 1px solid rgba(#000, 0.2);
        }

        display: flex;
        flex-flow: column;

        .user {
          text-align: center;
          // font-weight: 600;
          font-size: 1rem;
          color: #fff;
          padding: 10px 15px;
          cursor: pointer;
          display: flex;
          align-items: center;
          position: relative;

          // transition: all 0.3s;


          @include bp('max-width', 767) {
            border-bottom: 1px solid rgba(#000, 0.05);
            text-align: left;
          }

          .unread {
            position: absolute;
            top: 10px;
            left: 50px;
            background: #28a745;
            border-radius: 100px;
            width: 10px;
            height: 10px;
          }



          // &:hover {
          //   background: darken(#fff, $amount: 10);
          //   // color: #333;
          // }

          &.active {

            // order: -1;
            @include bp('min-width', 768) {
              background: #787878;
              color: #fff;

            }

          }

          .component &,
          .widget & {
            border-bottom: 1px solid rgba(#000, 0.05);
            text-align: left;
            padding: 10px 15px;

            &.active {
              background: #787878;
              color: #fff;
            }

            // &:hover {
            //   background: darken(#fff, $amount: 10);
            // }
          }

          .avatar {
            margin-right: 15px;
          }


        }
      }


    }

    .right {
      width: 100%;
      height: 100%;
      position: relative;
      // background: #fff;

      @include bp('min-width', 768) {
        width: 70%;
      }

      @include bp('max-width', 767) {
        position: absolute;
        top: 0;
        left: 0;
      }

      .component &,
      .widget & {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

      }



      .mobile_view_topbar {

        .current_user {
          @include vertical-align;
          display: flex;
          align-items: center;
          justify-content: center;

          .avatar {
            width: 30px;
            height: 30px;
            // height: 45px;
            margin-right: 7px;
            color: #401aff;
            text-align: center;


            .img {
              width: 100%;
              padding-bottom: 100%;
              background-size: cover;
            }
          }

          .username {}
        }
      }

      .inputrow {
        height: 60px;
        position: relative;

        @include bp('min-width', 768) {
          height: 100px;
        }

        .component &,
        .widget & {
          height: 60px;
        }


        form {
          position: relative;
          height: 100%;
          margin: 0;
        }

        .replyTo {
          padding: 5px;
          background: rgba(#c1cbd2, 1);
          position: absolute;
          max-width: calc(100% - 10px);
          height: 30px;
          top: -35px;
          left: 5px;
          border-radius: 5px;
          display: flex;
          padding-right: 50px;
          white-space: nowrap;

          @include bp('min-width',768) {
            max-width: 50%;
          }


          .icon-BT_close {
            border-radius: 100px;
            // display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            width: 16px;
            height: 16px;
            background: rgba(#000, 0.2);
            font-size: 10px;
            text-align: center;
            line-height: 17px;
            margin-left: 5px;
            cursor: pointer;

          }

          .msg {
            display: block;
            width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 5px;
          }
        }

        textarea {
          border-radius: 0;
          border: none;
          height: 110%;
          width: 110%;
          box-shadow: none;

          padding-right: 40%;

          font-family: 'main';
          // font-weight: 500;

          font-size: 1rem;
          background: #fff;
          color: #000;
          // letter-spacing: 1px;
        }

        .btn_emoji {
          position: absolute;
          color: #2b2b2b;
          z-index: 2;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          bottom: 10px;
          cursor: pointer;
          right: 120px;
          font-size: 2rem;

          @include bp('max-width', 767) {
            right: 75px;
          }

          .component &,
          .widget & {
            right: 75px;
          }
        }

        .emojis {
          position: absolute;
          padding: 10px 20px;
          border-radius: 15px;
          box-shadow: 0 0 35px rgba(#000, 0.1);
          background: #333;
          bottom: 60px;
          right: 20px;
          // width: 100%;

          display: flex;
          flex-wrap: wrap;
          max-width: calc(100% - 40px);

          &::after {
            content: '';
            position: absolute;
            right: 105px;
            bottom: -15px;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;

            border-top: 20px solid #333;

            @include bp('max-width', 767) {
              right: 60px;
            }

            .component &,
            .widget & {
              right: 60px;
            }
          }

          .emoji {
            font-size: 2.4rem;
            margin: 5px;
            cursor: pointer;
          }
        }

        button {
          position: absolute;

          border-radius: 15px;

          background: #2b2b2b;

          margin: 0;
          bottom: 7px;
          right: 7px;
          min-width: 50px;

          @include bp('min-width', 768) {
            bottom: 10px;
            right: 10px;
            min-width: 100px;

          }

          .component &,
          .widget & {
            bottom: 7px;
            right: 7px;
            min-width: 50px;
          }

          img {
            width: 25px;
            vertical-align: middle;
          }
        }

      }

      .msglistLoading,
      .msglist {
        position: relative;
        height: calc(100% - 60px - 50px);
        overflow: hidden;
        padding: 25px 15px 0px;
        background: #fafafa;
        ;

        @include bp('min-width', 768) {
          padding: 50px 30px 0px;
          height: calc(100% - 100px);
        }

        .component &,
        .widget & {
          height: calc(100% - 60px - 50px);
          padding: 25px 15px 0px;
        }

        .lobby_panel & {
          height: calc(100% - 60px);
          padding: 25px 15px 0px;
        }

        @include inner-scroll;

        .msglistLoading_content {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #fff url('~@/assets/loading.gif') center no-repeat;
          background-size: 40px;
        }

        .no_msg {
          position: absolute;
          top: 0px;
          left: 0;
          width: 100%;
          height: calc(100% - 100px);
          text-align: center;
          color: #8787;
          z-index: 1;

          .component &,
          .widget & {
            top: 50px;
          }

          @include bp('max-width', 767) {
            top: 50px
          }

          &_content {
            @include vertical-align;

            span {
              display: inline-block;
              font-size: 7rem;
              margin-bottom: 15px;
            }
          }
        }



        .item {
          display: flex;
          flex-wrap: wrap;
          padding: 20px 0;
          width: 95%;

          @include bp('min-width', 768) {
            width: 80%;
          }

          .component &,
          .widget & {
            width: 95%;
          }

          // &:first-of-type {
          //   padding-top: 20px;
          //   @include bp('min-width',768) {
          //     padding-top: 50px;
          //   }
          // }

          &.self {
            margin-left: 5%;

            @include bp('min-width', 768) {
              margin-left: 20%;
            }

            .component &,
            .widget & {
              margin-left: 5%;
            }

            flex-direction: row-reverse;
          }

          .msg {
            height: auto;
            // max-width: calc(100% - 60px);
            max-width: 100%;

            &_date {
              font-size: 1rem;
              margin-top: 5px;
              margin-left: 5px;
              color: #8787;
            }



            &_text {
              display: flex;
              position: relative;

              .name {
                font-size: 1rem;
                color: #8787;
                position: absolute;
                top: -25px;
                left: 5px;
              }


              &_bubble {
                background: #cfcfcf;
                color: #333;
                position: relative;

                border-radius: 15px;
                font-size: 1.3rem;
                padding: 13px;
                word-break: break-word;

                @include bp('min-width', 768) {
                  font-size: 1rem;
                  padding: 10px;
                }

                margin-right: 5px;

                .component &,
                .widget & {
                  font-size: 1.3rem;
                  padding: 13px;
                }

                &::after {
                  content: '';
                  position: absolute;
                  top: 10px;
                  left: -5px;
                  width: 0;
                  height: 0;
                  border-top: 10px solid transparent;
                  border-bottom: 10px solid transparent;

                  border-right: 10px solid #cfcfcf;
                }



                .reply_msg {
                  background: #fafafa;
                  padding: 10px 15px 10px 20px;
                  margin-top: -15px;
                  margin-left: -15px;
                  margin-right: -15px;
                  border-radius: 10px;
                  margin-bottom: 15px;
                  overflow: hidden;
                  position: relative;
                  color: #8787;

                  @include bp('max-width', 767) {
                    margin-top: -8px;
                    margin-left: -8px;
                    margin-right: -8px;
                  }

                  .component &,
                  .widget & {
                    margin-top: -8px;
                    margin-left: -8px;
                    margin-right: -8px;
                  }

                  &::before {
                    content: '';
                    background: #fff;
                    width: 6px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                  }


                }
              }

              &_actions {
                display: flex;
                // opacity: 0;
                transition: opacity 0.3s;
                align-items: flex-end;
                flex-direction: row-reverse;
                padding-bottom: 5px;

                div[class^="btn"] {
                  margin: 0 2px;
                  width: 20px;
                  height: 20px;
                  text-align: center;
                  line-height: 20px;
                  border-radius: 100px;
                  background: #c1cbd2;
                  color: #fff;
                  cursor: pointer;
                  font-size: 1.1rem;
                  transition: all 0.3s;
                }

                .like_button {
                  width: auto;
                  height: auto;
                  background: none;
                  border-radius: 0;
                  color: #8787;
                  display: flex;
                  align-items: center;
                  cursor: pointer;

                  .icon-thumb-up {
                    font-size: 3rem;
                  }

                  &.liked {
                    color: #fff !important;
                    cursor: default;
                  }

                  .liked_count {
                    width: 15px;
                    height: 15px;
                    font-size: 1rem;
                    text-align: center;
                    line-height: 15px;
                    border-radius: 100px;
                    background: #fff;
                    position: relative;
                    color: #333;
                    top: -10px;

                    transform: scale(1);
                    opacity: 1;
                    transition: all 0.3s;
                  }

                  &.liked {
                    .liked_count {
                      transform: scale(1);
                      opacity: 1;
                    }
                  }

                }

                .btn_reply {
                  background: #fff !important;
                  opacity: 0;
                  color: #333;

                  span {
                    font-size: 1.1rem;
                  }

                  // .component &,
                  // .widget & {
                  //   display: none;
                  // }
                }

                .btn_check {
                  background: #28a745 !important;
                  opacity: 0;

                  span {
                    font-size: 0.9rem;
                  }

                  .component &,
                  .widget & {
                    display: none;
                  }
                }

                .btn_remove {
                  background: #dc3545 !important;
                  opacity: 0;

                  span {
                    position: relative;
                    top: 1px;
                    font-size: 1.2rem;
                    font-weight: bold;
                  }

                  .component &,
                  .widget & {
                    display: none;
                  }
                }
              }



            }

            &:hover {
              .msg_text_actions {
                opacity: 1;
              }

              .btn_check,
              .btn_remove,
              .btn_reply {
                opacity: 1;
              }
            }
          }

          &.self {
            .like_button {
              flex-direction: row-reverse;
            }

            .msg_text {
              flex-direction: row-reverse;

              .name {
                left: auto;
                right: 0;
              }

              &_bubble {
                margin-right: 0;
                margin-left: 5px;
                background: #2501da;
                // background: $theme_color_1;
                color: #fff;

                &::after {
                  left: auto;
                  right: -5px;
                  border-top: 10px solid transparent;
                  border-bottom: 10px solid transparent;
                  border-right: none;
                  border-left: 10px solid #2501da;
                }
              }

              &_actions {
                flex-direction: row;
              }
            }

            .msg_date {
              text-align: right;
            }

          }

          .user {
            width: 45px;
            // height: 45px;
            margin-right: 15px;
            color: #8787;
            text-align: center;
            font-size: 1.2rem;

            @include bp('max-width', 767) {
              width: 30px;
            }

            .component &,
            .widget & {
              width: 30px;
            }

            .avatar {
              margin: 0 auto;

              width: 45px;
              height: 45px;
              margin-bottom: 7px;

              @include bp('max-width', 767) {
                width: 30px;
                height: 30px;
              }

              .component &,
              .widget & {
                width: 30px;
                height: 30px;
              }

            }

            .name {
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .img {
              width: 100%;
              padding-bottom: 100%;
              background-size: cover;

            }
          }

          &.self {
            .user {
              margin-right: 0;
              margin-left: 15px;
            }
          }
        }
      }
    }

    &.Chat {
      .left {
        left: -50%;
      }
    }

    &.Messenger {
      // transform: translateX(-50%);
    }
  }
}